@charset "utf-8";
body {
  background-color: black;
}
#vid_container{
  width: 100%;
  height: 97vh;
}
#vid{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#brand{
  writing-mode: sideways-lr;
  margin: 0 0 0 0;
  font-size: 15vh;
  font-family: 'DIN-Alternate', sans-serif;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;

}
