@charset "utf-8";
@keyframes firstmove {
    from{top:-300px;opacity:0} to{top:0;opacity:1}
}
@keyframes fading {
    from{opacity: 0} to{opacity: 1}
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
	line-height: 1;
    background-color: #424242;
    min-width: 500px;
    color: #EEEEEE;  
    font-family: 'Open Sans', sans-serif;
}
header {
    align-content: right;
    width: 100%;
}
h1 {
    position: relative; 
    font-family: 'Patua One', cursive;
    padding-top: 55vh;
	font-size: 12vh;
    text-align: center;
    animation: firstmove 1s;
    margin: 0 25px 0 25px;
}
h2 {
    position: relative;
    font-size: 5vh;
    font-family: 'Patua One', cursive;
    text-align: center;
    animation: firstmove 1s;
    margin: 0 15px 0 15px;
}
main {
    margin: 20px;
}
#inici{
    height: 100vh;
    background-image: url(../img/main.jpg);
    width: 100%
    min-height: 100%;
    background-size: cover;
    background-position: center;
    animation: fading 3s;
}
hr {
    position: relative;
    border: 0.5vh solid #82B1FF; 
    border-radius: 300px; 
    background-color: #82B1FF;
    height: 0px;
    width: 200px;
    animation: fading 4s;
}
nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    left: 0px;
    margin: 15px 15px 15px 0;
    display: flex;
    flex-direction: column;
    float: left;
    width: 150px;
    background-color: #82B1FF;
    box-shadow: 4px -4px 5px 0.5px rgba(0,0,0,0.29);
    opacity: 0.98;
    z-index: 1000;


}
.btn-cont > a {
    background-color: transparent;
    border: none;
    text-align: left;
    font-size: 18px;
    margin: 5px;
    text-decoration: none;
    display: inline-block;
    color: white;
    cursor: pointer;
}
.btn-big{
    padding-left: 20px;
    width: 130px;
}
.btn-sml{
	padding-left: 45px;
    width: 105px;
}
.bar-cont{
    display: inline-block;
    cursor: pointer;
}
.bar-1, .bar-2, .bar-3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px;
    transition: 0.4s;
}
.change .bar-1 {
    transform: rotate(-45deg) translate(-8px, 7px);
    width: 20px;
}
.change .bar-2 {
    opacity: 0;
}
.change .bar-3 {
    width: 20px;
    transform: rotate(45deg) translate(-8px, -7px);
}
.visi .btn-cont{
    display: block;
}
.dim #nav{
    width: 150px;
    height: initial;
    transition: fading 1s;
}
#intro{
    float: left;
    display: inline-block;
    min-height: 150px;

}
@media only screen and (max-width: 500px) {h1{font-size: 70px;margin: 0 5px 0 5px;}h2{font-size: 30px;margin: 0 5px 0 5px;}}
@media only screen and (min-width: 601px) {.bar-cont{display: none;}}
@media only screen and (max-width: 600px) {nav {position:fixed;margin:0;width:47px;height:40px;}.btn-cont{display: none;}}
@media only screen and (min-width: 1181px) {#alt-brand{display: none;}}
@media only screen and (max-width: 1180px) {#brand {display: none;}}
