@charset "utf-8";

@font-face{
    font-family: Helvetica Neue;
    src: url(fonts/HelveticaNeue-Medium.woff);
}

body {
	line-height: 1;
    font-family: "Helvetica Neue", sans-serif;
}
header {
    width: 100%;
    text-align: center;
}
h1 {
	padding: 10px;
	font-size: 4vw;
}
nav {
	position: -webkit-sticky;
	position: -moz-sticky;
    position: -ms-sticky;
    <position: -o-sticky;
	display: flex;
	flex-direction: column;
	width: 200px;
	background-color: blue;
}
nav > button {
    border:none;
    background-color: none;
}
