@charset "utf-8";

@font-face{
    font-family: Helvetica Neue;
    src: url(fonts/HelveticaNeue-Medium.woff);
}

body {
	line-height: 1;
    font-family: "Helvetica Neue", sans-serif;
}
header {
    align-content: right;
    width: 100%;
}
h1 {
	padding: 10px;
	font-size: 80px;
    text-align: center;
}
nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    margin: 15px 15px 15px 0;

	display: flex;
	flex-direction: column;
	width: 150px;
	background-color: #689cb0;
    opacity: 0.98;
    z-index: 1000;
}
nav > button {
    background-color: transparent;
    border: none;
    text-align: left;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 18px;
    color: white;
}
main {
    margin: 20px;
}
.btn-big{
    padding-left: 20px;
}
.btn-sml{
	padding-left: 60px;
}
